@import 'lesshat';

* {
  .box-sizing(border-box);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  outline: 0;
  .backface-visibility(hidden);
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: none;
  font-family: 'proxima-nova', sans-serif;
}

body {
  color: #fff;
}

.page {
  height: 100%;
}

section {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0 ~'calc((100% - 940px) / 2)';

  .center {
    position: absolute;
    top: 50%;
    .transform(translate(0, -50%));
  }
}

.layout-header {
  h1, h2 {
    color: #FFF;
    font-size: 34px;
    font-weight: 700;
  }
  h1 {
    margin-bottom: 25px;

    strong {
      text-decoration: underline;
    }
  }
  h2 {
    del {
      color: #484848;
      text-decoration: line-through;
    }
  }
}

.layout-img-on-right, .layout-img-on-left {
  article {
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: 600;

    a {
      color: inherit;
    }
  }
  a.button {
    display: inline-block;
    text-align: center;
    padding: 0 25px;
    height: 70px;
    line-height: 64px;
    border: 3px solid #fff;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    opacity: .8;
    .transition(.2s);
    overflow: hidden;

    &:hover {
      opacity: 1;

      &:after {
        .transform(translateX(5px));
      }
    }

    &:after {
      content: '';
      margin-left: 10px;
      position: relative;
      top: 3px;
      display: inline-block;
      .size(32px, 18px);
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="18"><path d="M20.927 17.661c-.45-.441-.45-1.157 0-1.598l6.93-5.925h-27.857v-2.25h27.897l-6.971-5.961c-.45-.441-.45-1.156 0-1.597.449-.441 1.179-.441 1.629 0l9.135 7.81c.239.235.342.547.325.855.017.309-.086.621-.325.855l-9.135 7.81c-.45.442-1.179.442-1.628.001z" fill="#fff"></path></svg>');
      .transition(.2s);
    }
  }
}

.layout-links {
  font-size: 34px;

  h3 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 34px;
  }

  ul {
    list-style: none;
    width: 600px;

    li {
      margin-bottom: 16px;

      &:before {
        position: absolute;
        left: 0;
        content: '>';
        color: #AB442F;
        font-weight: 700;
      }

      a {
        display: block;
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        padding-left: 30px;
      }
    }
  }
}

.layout-footer {
  article {
    width: 880px;
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 170px;
  }

  p a {
    color: inherit;
    font-size: 34px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 15px;
    text-decoration: none;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin-right: 40px;
      position: relative;
      .opacity(0.2);
      font-size: 24px;
      font-weight: 700;

      a {
        color: inherit;
        text-transform: uppercase;
        text-decoration: none;
      }

      &:after {
        display: block;
        position: absolute;
        top: 0;
        content: '|';
        left: -20px;
      }

      &:first-child {
        &:after {
          display: none;
        }
      }
    }
  }
}
